/* ------------ Font ------------ */

@font-face {
    font-family: 'font-main';
    src: url('_msyh.tt');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-mono';
    src: url('_Microsoft-Yahei-Mono.ttf');
    font-weight: normal;
    font-style: normal;
}

/* ------------Style------------- */

#card-body {
    font: 16px/1.6em 'font-main', sans-serif;
    margin-top: 4.5em;
    margin-bottom: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.content,
.header {
    padding-left: 0.5em;
    border-left: 4px solid transparent;
}

.header {
    font: bold 16px/1.6em 'font-mono', monospace;
}

.header-red {
    border-color: #db4437;
    color: #db4437;
}

.header-green {
    border-color: #0f9d58;
    color: #0f9d58;
}

.header-blue {
    border-color: #4285f4;
    color: #4285f4;
}

.header-yellow {
    border-color: #f4b400;
    color: #f4b400;
}

.genuine-cloze[show-state="hint"],
.pseudo-cloze[show-state="hint"] {
    font-family: 'font-mono';
}

.genuine-cloze {
    border-bottom: 1px solid #db4437;
    padding-bottom: 1px;
}

.genuine-cloze[show-state="hint"] {
    background-color: #ffd6d4;
}

.pseudo-cloze {
    border-bottom: 1px solid #4285f4;
    padding-bottom: 1px;
}

.pseudo-cloze[show-state="hint"] {
    background-color: #dce8ff;
}

#topic-section {
    width: 100%;
    z-index: 90;
    background-color: white;
    position: fixed;
    top: 0;
}

#topic-section table {
    margin: 0;
}

#topic-section td,
#topic-section th {
    border: 0;
    margin: 0;
    padding: 0;
    min-width: initial;
}

#keyword {
    color: #aaa;
}

#domain-icon {
    padding-right: 5px;
}

#domain-icon img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

#note {
    display: none;
}

#note-switch {
    text-align: center;
    font-size: 1.2em;
    color: #db4437;
    margin-bottom: 1em;
}

#info-section {
    font-family: 'font-mono', monospace;
}

#show-one-cloze-left,
#show-one-cloze-right,
#show-one-pseudo-cloze-left,
#show-one-pseudo-cloze-right,
#no-more-cloze {
    position: fixed;
    z-index: 9;
    background-color: transparent;
}

#show-one-cloze-left,
#show-one-cloze-right {
    top: 0;
    height: 50%;
    width: 30px;
}

#show-one-cloze-left {
    left: 0;
}

#show-one-cloze-right {
    right: 0;
}

#show-one-pseudo-cloze-left,
#show-one-pseudo-cloze-right {
    top: 50%;
    height: 50%;
    width: 30px;
}

#show-one-pseudo-cloze-left {
    left: 0;
}

#show-one-pseudo-cloze-right {
    right: 0;
}

#no-more-cloze {
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #db4437;
    left: 0;
    display: none;
}

#show-all-pseudo-clozes {
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: transparent;
    display: none;
}

#editor-section {
    z-index: 99;
    position: fixed;
    top: 150px;
    left: 10%;
    display: none;
    width: 800px;
    height: 500px;
}

#editor-header>img {
    vertical-align: middle;
}

#editor-framework {
    width: 100%;
    height: 100%;
}

u {
    background-color: #dbffed;
    border-bottom: 1px solid #0f9d58;
    text-decoration: none;
}

i {
    padding-right: 0.5em;
}

a {
    color: #444444;
    word-wrap: break-word;
}

img {
    padding: 5px;
    border: 2px dashed skyblue;
}

img.img-no-border {
    border: 0;
    margin: 0;
    padding: 0;
}

.mobile ol,
.mobile ul,
.mobile li {
    margin-left: -0.5em;
}

table {
    border-collapse: collapse;
    margin: 0.5em;
}

thead tr,
tfoot tr {
    border-top: 2px solid #0f9d58;
    border-bottom: 2px solid #0f9d58;
}

td,
th {
    border: 1px solid #0f9d58;
    padding: 0.3em 0.5em;
    min-width: 5em;
}

hr {
    border-top: 2px solid #aaaaaa;
    width: 100%;
    margin: 0;
    padding: 0;
}

pre {
    font-family: 'font-mono', monospace;
    border-left: 2px solid #0f9d58;
    padding-left: 10px;
    line-height: 1.4;
    margin: 4px;
}

code,
kbd,
var,
samp,
tt {
    font-family: 'font-mono', monospace;
    background-color: #fdf3d6;
}

/* Pygments colorful */

.pyg-hll {
    background-color: #ffffcc
}

.pyg-c {
    color: #888888
}

/* Comment */

.pyg-err {
    color: #FF0000;
    background-color: #FFAAAA
}

/* Error */

.pyg-k {
    color: #008800;
    font-weight: bold
}

/* Keyword */

.pyg-o {
    color: #333333
}

/* Operator */

.pyg-ch {
    color: #888888
}

/* Comment.Hashbang */

.pyg-cm {
    color: #888888
}

/* Comment.Multiline */

.pyg-cp {
    color: #557799
}

/* Comment.Preproc */

.pyg-cpf {
    color: #888888
}

/* Comment.PreprocFile */

.pyg-c1 {
    color: #888888
}

/* Comment.Single */

.pyg-cs {
    color: #cc0000;
    font-weight: bold
}

/* Comment.Special */

.pyg-gd {
    color: #A00000
}

/* Generic.Deleted */

.pyg-ge {
    font-style: italic
}

/* Generic.Emph */

.pyg-gr {
    color: #FF0000
}

/* Generic.Error */

.pyg-gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */

.pyg-gi {
    color: #00A000
}

/* Generic.Inserted */

.pyg-go {
    color: #888888
}

/* Generic.Output */

.pyg-gp {
    color: #c65d09;
    font-weight: bold
}

/* Generic.Prompt */

.pyg-gs {
    font-weight: bold
}

/* Generic.Strong */

.pyg-gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */

.pyg-gt {
    color: #0044DD
}

/* Generic.Traceback */

.pyg-kc {
    color: #008800;
    font-weight: bold
}

/* Keyword.Constant */

.pyg-kd {
    color: #008800;
    font-weight: bold
}

/* Keyword.Declaration */

.pyg-kn {
    color: #008800;
    font-weight: bold
}

/* Keyword.Namespace */

.pyg-kp {
    color: #003388;
    font-weight: bold
}

/* Keyword.Pseudo */

.pyg-kr {
    color: #008800;
    font-weight: bold
}

/* Keyword.Reserved */

.pyg-kt {
    color: #333399;
    font-weight: bold
}

/* Keyword.Type */

.pyg-m {
    color: #6600EE;
    font-weight: bold
}

/* Literal.Number */

.pyg-s {
    background-color: #fff0f0
}

/* Literal.String */

.pyg-na {
    color: #0000CC
}

/* Name.Attribute */

.pyg-nb {
    color: #007020
}

/* Name.Builtin */

.pyg-nc {
    color: #BB0066;
    font-weight: bold
}

/* Name.Class */

.pyg-no {
    color: #003366;
    font-weight: bold
}

/* Name.Constant */

.pyg-nd {
    color: #555555;
    font-weight: bold
}

/* Name.Decorator */

.pyg-ni {
    color: #880000;
    font-weight: bold
}

/* Name.Entity */

.pyg-ne {
    color: #FF0000;
    font-weight: bold
}

/* Name.Exception */

.pyg-nf {
    color: #0066BB;
    font-weight: bold
}

/* Name.Function */

.pyg-nl {
    color: #997700;
    font-weight: bold
}

/* Name.Label */

.pyg-nn {
    color: #0e84b5;
    font-weight: bold
}

/* Name.Namespace */

.pyg-nt {
    color: #007700
}

/* Name.Tag */

.pyg-nv {
    color: #996633
}

/* Name.Variable */

.pyg-ow {
    color: #000000;
    font-weight: bold
}

/* Operator.Word */

.pyg-w {
    color: #bbbbbb
}

/* Text.Whitespace */

.pyg-mb {
    color: #6600EE;
    font-weight: bold
}

/* Literal.Number.Bin */

.pyg-mf {
    color: #6600EE;
    font-weight: bold
}

/* Literal.Number.Float */

.pyg-mh {
    color: #005588;
    font-weight: bold
}

/* Literal.Number.Hex */

.pyg-mi {
    color: #0000DD;
    font-weight: bold
}

/* Literal.Number.Integer */

.pyg-mo {
    color: #4400EE;
    font-weight: bold
}

/* Literal.Number.Oct */

.pyg-sa {
    background-color: #fff0f0
}

/* Literal.String.Affix */

.pyg-sb {
    background-color: #fff0f0
}

/* Literal.String.Backtick */

.pyg-sc {
    color: #0044DD
}

/* Literal.String.Char */

.pyg-dl {
    background-color: #fff0f0
}

/* Literal.String.Delimiter */

.pyg-sd {
    color: #DD4422
}

/* Literal.String.Doc */

.pyg-s2 {
    background-color: #fff0f0
}

/* Literal.String.Double */

.pyg-se {
    color: #666666;
    font-weight: bold;
    background-color: #fff0f0
}

/* Literal.String.Escape */

.pyg-sh {
    background-color: #fff0f0
}

/* Literal.String.Heredoc */

.pyg-si {
    background-color: #eeeeee
}

/* Literal.String.Interpol */

.pyg-sx {
    color: #DD2200;
    background-color: #fff0f0
}

/* Literal.String.Other */

.pyg-sr {
    color: #000000;
    background-color: #fff0ff
}

/* Literal.String.Regex */

.pyg-s1 {
    background-color: #fff0f0
}

/* Literal.String.Single */

.pyg-ss {
    color: #AA6600
}

/* Literal.String.Symbol */

.pyg-bp {
    color: #007020
}

/* Name.Builtin.Pseudo */

.pyg-fm {
    color: #0066BB;
    font-weight: bold
}

/* Name.Function.Magic */

.pyg-vc {
    color: #336699
}

/* Name.Variable.Class */

.pyg-vg {
    color: #dd7700;
    font-weight: bold
}

/* Name.Variable.Global */

.pyg-vi {
    color: #3333BB
}

/* Name.Variable.Instance */

.pyg-vm {
    color: #996633
}

/* Name.Variable.Magic */

.pyg-il {
    color: #0000DD;
    font-weight: bold
}

/* Literal.Number.Integer.Long */

.pyg-nx {
    color: #000080;
}

/* Literal.Number.Integer.Long */

.pyg-nx {
    color: #000080;
}